h1{
    margin-bottom:20px;
}
.add-btn {
    margin-top:20px;
}
.error, .alert-box {
    color: #d9534f;
}
.login{
    position: absolute;
    top: 50%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 35%;
}
@media (max-width: 480px) {
    .login {
        width: 90%;
    }
}
#edit-title{
    font-weight: bold;
    font-size: 20px;
    outline: none !important;
}
#logout {
    float: right;
}
#option-container{
    margin-top: 20px;
}
#question-container{
    min-height: 100px;
    margin-bottom: 30px;
}
#question-list {
    margin: 30px 15px 30px 15px;
}
.col-correctas label, .correct_answer{
    width: 100%;
    text-align: center;
}
.inciso{
    margin-bottom: 10px;
}
.agregar{
    display: block;
    padding:30px 0 30px 10px;
}
.title{
    margin-bottom:20px;
}
.switch{
    margin-top: 20px;
}
.label{
    font-size: 100% !important;
}
#concept-select {
    width: 100% !important;
}
.guardar-cancelar{
    margin-top: 40px;
}
.question-wrapper{
    margin-bottom: 25px;
    padding: 5px;
}
.question{
    font-size: 15px;
    background-color: #f8f8f8;
    padding: 15px;
    border-color:#e7e7e7;
}
.answers{
    list-style: none;
    margin-top: 10px;
}
.answers li{
    margin-bottom: 10px;
}
.concept-pill {
    display: inline-block;
    padding: 15px;
    border-radius: 15px;
    font-size: 15px;
    background-color: #5bc0de;
    color: #fff;
    width: 140px;
    margin: 30px;
}

.concept-pill p{
    width: 100%;
    text-align: center;
}
.draggable {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}
.concept-container{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
#svg{
    position: absolute;
    top: 0;
    width:100%;
    z-index: -1;
}
.line{
    stroke:#5bc0de;
    stroke-width: 2;
}
#courses{
    margin-top:30px;
}
.concept{
    display: inline-block;
    padding: 7px;
    border-radius: 8px;
    font-size: 14px;
    margin-right: 2px;
    border: solid 1px transparent;
}

.wrong{

    color: #a94442;
    background-color: #f2dede;
    border: solid 1px #ebccd1;
}

.wrong-inverted {
    background-color: #a94442;
    color: #fff;
}
.wrong-inverted:hover {
    background-color: #fff;
    color: #a94442;
    border: solid 1px #a94442;
    text-decoration: none;
}
.right{
    background-color: #d9edf7;
    border: solid 1px #bce8f1;
    color: #31708f;
}
.right-inverted {
    background-color:#31708f;
    color:#fff;
}
.right-inverted:hover {
    background-color: #fff;
    color: #31708f;
    text-decoration: none;
    border: solid 1px #31708f;;
}
.concepts{
    margin-bottom: 10px;
    margin-top: 10px;
}
.concept-box{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;

}
.concept-box label{
    margin-bottom: 20px;
}
.course{
    display: inline-block;
    position: relative;
    max-width: 250px;
    background-color: #5bc0de;
    color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    min-height: 150px;
    max-height: 170px;
}
.course-name{
    margin-bottom: 15px;
    font-size: 18px;

}
.course-options{
    position: absolute;
    bottom: 10px;
}
.course-options a {
    color: #fff;
    display: block;
    margin-bottom: 10px;
}
#students{
    width: 100%;
}
#add-concept-box {
    width: 100%;
    border-radius: 10px;
    border: solid 1px #e7e7e7;
    padding: 10px;
}
.test{
    padding-top: 100px;
}
.username {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #777;
}