h1{
    margin-bottom:20px;
}
.add-btn {
    margin-top:20px;
}
.error, .alert-box {
    color: #d9534f;
}
.login{
    position: absolute;
    top: 50%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 35%;
}
@media (max-width: 480px) {
    .login {
        width: 90%;
    }
}
#edit-title{
    font-weight: bold;
    font-size: 20px;
    outline: none !important;
}
#logout {
    float: right;
}
#option-container{
    margin-top: 20px;
}
#question-container{
    min-height: 100px;
    margin-bottom: 30px;
}
#question-list {
    margin: 30px 15px 30px 15px;
}
.col-correctas label, .correct_answer{
    width: 100%;
    text-align: center;
}
.inciso{
    margin-bottom: 10px;
}
.agregar{
    display: block;
    padding:30px 0 30px 10px;
}
.title{
    margin-bottom:20px;
}
.switch{
    margin-top: 20px;
}
.label{
    font-size: 100% !important;
}
#concept-select {
    width: 100% !important;
}
.guardar-cancelar{
    margin-top: 40px;
}
.question-wrapper{
    margin-bottom: 25px;
    padding: 5px;
}
.question{
    font-size: 15px;
    background-color: #f8f8f8;
    padding-top: 15px;
    padding-left: 10px;
    border-color:#e7e7e7;
}
.answers{
    list-style: none;
    margin-top: 10px;
}
.answers li{
    margin-bottom: 10px;
}
.concept-pill {
    display: inline-block;
    padding: 15px;
    border-radius: 15px;
    font-size: 15px;
    background-color: #5bc0de;
    color: #fff;
    width: 140px;
    margin: 30px;
}

.concept-pill p{
    width: 100%;
    text-align: center;
}
.draggable {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}
.concept-container{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
#svg{
    position: absolute;
    top: 0;
    width:100%;
    z-index: -1;
}
.line{
    stroke:#5bc0de;
    stroke-width: 2;
}
#courses{
    margin-top:30px;
}
.concept{
    display: inline-block;
    padding: 7px;
    border-radius: 8px;
    font-size: 12px;
    margin-right: 2px;
}
.wrong{

    color: #8a6d3b;
    background-color: #fcf8e3;
    border: solid 1px #faebcc;
}
.right{
    background-color: #d9edf7;
    border: solid 1px #bce8f1;
    color: #31708f;
}
.concepts{
    margin-bottom: 10px;
    margin-top: 10px;
}